@font-face {
    font-family: 'Saladd';
    src: url('saladd.otf') format('otf'); 
}
h1 {
    font-family: "Saladd", sans-serif;
}


.text_align {
    text-align: center;
}


.p1{
    font-family: "Saladd", sans-serif;
    color: green;
    font-size: xx-large;
}

.button {
    font-family: "Saladd", sans-serif;
    border-radius: 8px;
    background-color: #009246;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
  }