body {
    font-family: Arial, sans-serif;
}



header #homeButton, header #cartButton, .btn {
    padding: 5px 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-info {
    background-color: #3498db;
}

.btn-add {
    background-color: #2ecc71;
}

nav #categories {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 10px;
    background-color: #ddd;
}

nav #categories li {
    cursor: pointer;
    padding: 5px 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
}

main .category {
    padding: 10px;
}

main .dish {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

main .dish-img {
    max-width: 100px;
    margin-right: 10px;
    border-radius: 5px;
}

main .dish-info {
    display: flex;
    align-items: center;
}

main .dish-info p {
    margin: 0 10px;
}





#categories {
    display: flex;
    flex-direction: column;
}

.category {
    margin-bottom: 20px;
}

.dish-img {
    width: 100px;
    height: auto;
}

#categories {
    display: flex;
    flex-direction: column;
}

.dish {
    display: flex;
    align-items: center; 
    gap: 20px;
}


.dish-info {
    flex-direction:column;
}

.disabled {
    color: grey;
    pointer-events: none;
}

.btn-info, .btn-add {
    margin-top: 5px;
}


.category {
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
}

.category:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.category h2 {
    background-color: #f4f4f4;
    margin: 0;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
}

.category-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.dish {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
}

.dish:last-child {
    border-bottom: none;
}


.category h2 {
    position: relative;
    padding-right: 30px; /* Assurez-vous d'avoir assez d'espace pour l'icône */
}

.dropdown-icon {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background-image: url('../media/inv.png');
    background-size: contain;
}


.checkout-button { /* de panier.css */
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    background-color: rgb(233, 212, 25);
    color: black;
    padding: 10px 20px;
    cursor: pointer;
}