
@font-face {
    font-family: 'Saladd';
    src: url('saladd.otf') format('otf'); 
}
body {
    font-family: Arial, sans-serif;
}

header {
    padding: 10px;
    background-color: #eee;
    text-align: center;
    display: flex; 
    align-items: center; 
    justify-content: center;

    flex-direction: column;
}
footer#Total {
    padding: 10px;
    background-color: #5cb85c;
    text-align: center;
    color: white;
    display: flex; 
    align-items: center; 
    justify-content: center;
}
footer#habitude {
    padding: 10px;
    background-color: #F4D13D;
    text-align: center;
    color: white;
    display: flex; 
    align-items: center; 
    justify-content: center;
}


header #homeButton, header #cartButton, .btn {
    padding: 5px 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-info {
    background-color: #3498db;
}

.btn-add {
    background-color: #2ecc71;
}

header #searchBar {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

main .list{
    display: flex;
    flex-direction: column;


}


main .dish {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

main .dish-img {
    max-width: 100px;
    margin-right: 10px;
    border-radius: 5px;
}

main .dish-info {
    display: flex;
    align-items: center;
}
main .commande-info {
    display: flex;
    flex-direction: column;
}
main .dish-info p {
    margin: 0 10px;
}



/*page pop up fidelite */

.overlay-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* opacité du fond */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 80%; 
    max-width: 500px;
}

.button1 {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
    font-size: 16px;
}
.button3 {
    
    padding: 5px;
    border: none;
    border-radius: 4px;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-family: "Saladd", sans-serif;
}
.button2 {
    
    padding: 5px;
    border: none;
    border-radius: 4px;
    background-color: white;
    color: green;
    cursor: pointer;
    font-size: 16px;
    margin-left: auto;
    font-family: "Saladd", sans-serif;


}
.bold_text {
    font-family: 'Saladd', sans-serif;
    font-weight: bold;
}
.selected {

    padding: 5px;
    border: none;
    border-radius: 4px;
    background-color: #5cb85c;
    color: green;
    cursor: pointer;
    font-size: 16px;
    font-family: "Saladd", sans-serif;

}
