
@font-face {
    font-family: 'Saladd';
    src: url('saladd.otf') ; 
}
header{
    display: flex;
    justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

}

h2{
    font-family: "Saladd",sans-serif;
    color: #F4D13D;
}

.text_align {
    text-align: center;
}


.button {
    border-radius: 8px;
    background-color: #009246;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
  
  }

.ajouter-button{
    border-radius: 8px;
    background-color: #F4D13D;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}
.img{
    max-width: 250px;
    padding: 10px;
}

.ingredient{
    text-align: justify;
    font-size:35px;  
    font-family: "Saladd",sans-serif;
}


.ingredients{
    max-width: 350px;
    text-align: center;
    font-size: 30px;
}

.center-text {
    flex-grow: 1;
    font-size: 45px;
    font-family: "Saladd",sans-serif;
    color :#009246;
    text-align: center;
    margin: 0;
  }

footer {
    padding: 10px;
    text-align: center;
}
