h1 {
    font-family: "Helvetica", sans-serif;
    color: #009246;
    text-align: center;
    background-image: url(media.fr.png);
    background-repeat: no-repeat;
}



.flag {
    border-radius: 8px;
    background-image: url('../media/fr.png');
    background-size: cover;
    border: 2px solid black ;
    padding: 80px 160px;
    cursor: pointer;
    font-weight: bold;
  }

  
.buttonLign{
    text-align: center;
}