.cart-items {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
}

.cart-item {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}

.cart-item:last-child {
    border-bottom: none;
}

.total {
    font-weight: bold;
    font-size: 1.2em;
    margin: 20px;
}



button {
    background-color: #4CAF50; /* pas le bon vert */
    color: white;
    padding: 15px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
}